# Домашнее задание

Используя информацию по мидиям Петербурга и Магадана, которые представлены в виде двух массивов petersburg и magadan в разделе ANOVA тест, проверьте данные на нормальность и на наличие корреляции. Для этого объедините 2 массива в DataFrame. Обоснуйте выбор теста на корреляцию. Сделайте вывод по гипотезе.
 
 
Также ответьте на вопрос:
Какова разница в среднем размере мидии в зависимости от города-производителя. Обоснуйте выбор теста. Сделайте вывод по гипотезе.

Установка библиотек

In [56]:
import pandas as pd #для работы с таблицами
from statistics import mean
from scipy.stats import shapiro
from scipy.stats import ttest_ind

Данные

In [57]:
petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764,
           0.0689]

Создаем датафрейм и дополняем отсутствующие данные средним значением.

In [58]:
#сравниваем списки и дополняем недостающие средним значением 
while  len(petersburg) != len(magadan) :
    if len(petersburg) > len(magadan) :
        magadan.append(mean(magadan))
    else:
        petersburg.append(mean(petersburg))

data_dz=pd.DataFrame({'Санкт-Петербург':petersburg,'Магадан':magadan})
data_dz

   Санкт-Петербург  Магадан
0         0.097400   0.1033
1         0.135200   0.0915
2         0.081700   0.0781
3         0.101600   0.0685
4         0.096800   0.0677
5         0.106400   0.0697
6         0.105000   0.0764
7         0.103443   0.0689

Проверим выборки на нормальное распределение.

In [59]:
#Установим уровень значимости
alpha = 0.05

In [60]:
_, p = shapiro(petersburg)
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print('Данные распределены нормально(Н0)')
else:
	print('Данные НЕ распределены  нормально(отвергаем Н0)')

p=0.123
Данные распределены нормально(Н0)

In [61]:
_, p = shapiro(magadan)
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print('Данные распределены нормально(Н0)')
else:
	print('Данные НЕ распределены нормально(отвергаем Н0)')

p=0.036
Данные НЕ распределены нормально(отвергаем Н0)

Вывод:  в связи с тем, что одна выборка распределена нормально,а вторая нет, к тому же  обе переменные количественые, выбираем непараметрический U-тест Манна-Уитни.

In [62]:
alpha = 0.05 #уроевень значимости

In [63]:
H0 = 'Нет значимой разницы между размером мидии в разных городах.'
Ha = 'Есть значимая разница между размером мидии в разных пиццериях.'

In [64]:
import scipy.stats as stats
#perform the Mann-Whitney U test
_, p_value=stats.mannwhitneyu (petersburg, magadan)
print(p_value)

0.0029526029526029526

In [65]:
if p_value>alpha:
    print(f"{p_value} > {alpha}. Мы не можем отвергнуть нулевую гипотезу. {H0}")
else:
     print(f"{p_value} <= {alpha}. Мы отвергаем нулевую гипотезу. {Ha}")

0.0029526029526029526 <= 0.05. Мы отвергаем нулевую гипотезу. Есть значимая разница между размером мидии в разных пиццериях.

    Проведем анализ среднего размера мидий.

In [66]:
print('Среднее значение диаметра мидии в СПБ и Магадане соответственно', round(mean(data_dz['Санкт-Петербург']),4),',',round(mean(data_dz['Магадан']),4))

Среднее значение диаметра мидии в СПБ и Магадане соответственно 0.1034 , 0.078

Зависимая переменная (диаметр мидии) является количественной. Группы происходят из разных совокупностей. Следовательно, мы используем независимый T-тест.

In [67]:
H0 = 'Нет значимой разницы между средним  размером мидий.'
Ha = 'Есть значимая разница между средним  размером мидий в разных городах.'

In [68]:
#Установим уровень значимости
alpha = 0.05

In [69]:
def t_test(df):
    print('\n' + "*** Результаты независимого T-теста ***")
    test_results = ttest_ind(data_dz['Санкт-Петербург'], data_dz['Магадан'], equal_var=True)

    p = round(test_results[1],2)

    if p>alpha:
        print(f"{p} > {alpha}. Мы не можем отвергнуть нулевую гипотезу. {H0}")
    else:
        print(f"{p} <= {alpha}. Мы отвергаем нулевую гипотезу. {Ha}")

t_test(data_dz)

*** Результаты независимого T-теста ***
0.0 <= 0.05. Мы отвергаем нулевую гипотезу. Есть значимая разница между средним  размером мидий в разных городах.

p-value нашего теста ниже уровня значимости, это означает, что наши результаты статистически значимы и согласуются с альтернативной гипотезой