Задание 4.1
0/1 point (graded)
Напишите запрос, который выведет:

число различных дополнительных типов (столбец additional_types_count);
среднее число очков здоровья (столбец avg_hp);
сумму показателей атаки (столбец attack_sum) в разбивке по основным типам (столбец primary_type).
Отсортируйте результат по числу дополнительных типов в порядке убывания, при равенстве — по основному типу в алфавитном порядке.
Столбцы к выводу (обратите внимание на порядок!): primary_type, additional_types_count, avg_hp, attack_sum.

In [ ]:
SELECT
   type1 primary_type,
   count(DISTINCT type2) additional_types_count,
   AVG(hp) avg_hp,
   SUM(attack) attack_sum
FROM sql.pokemon
GROUP BY primary_type
ORDER BY 2 DESC, 1

Напишите запрос, который выведет:

количество покемонов (столбец pokemon_count);
среднюю скорость (столбец avg_speed);
максимальное и минимальное число очков здоровья (столбцы max_hp и min_hp)
для электрических (Electric) покемонов, имеющих дополнительный тип и показатели атаки или защиты больше 50.

SELECT
    COUNT(name) AS "pokemon_count",
    AVG(speed) AS "avg_speed",
    MAX(hp) AS "max_hp",
    MIN(hp) AS "min_hp"
FROM sql.pokemon
WHERE type1 = 'Electric'
AND type2 IS NOT NULL
And (attack > 50 or defense > 50)

Задание 5.1
0/1 point (graded)
Напишите запрос, который выведет основной и дополнительный типы покемонов (столбцы primary_type и additional_type) для тех типов, у которых средний показатель атаки больше 100 и максимальный показатель очков здоровья меньше 80.

SELECT
    type1 primary_type,
    type2 additional_type
FROM sql.pokemon
GROUP BY primary_type, additional_type
HAVING avg(attack) > 100
    AND MAX(hp) < 80

Напишите запрос, который выводит столбцы с основным типом (primary_type) и числом покемонов этого типа (pokemon_count) для тех покемонов, чьё имя (name) начинается с S.

Оставьте только типы, у которых средний показатель защиты больше 80.

Выведите только ТОП-3 типов по числу покемонов в них

SELECT
    type1 primary_type,
    COUNT(*) pokemon_count
FROM sql.pokemon
WHERE name LIKE 'S%'
GROUP BY 1
HAVING AVG(defense) > 80
ORDER BY 2 DESC
LIMIT 3

Напишите запрос, который выведет основной и дополнительный типы покемонов и средние значения по каждому показателю (столбцы avg_hp, avg_attack, avg_defense, avg_speed).
Оставьте только те пары типов, у которых сумма этих четырёх показателей более 400.

SELECT 
    type1,
    type2,
    AVG(hp) as avg_hp,
    AVG(attack) as avg_attack,
    AVG(defense) as avg_defense,
    AVG(speed) as avg_speed
FROM sql.pokemon
GROUP BY type1, type2
    HAVING AVG(hp) + AVG(attack) + AVG(defense) + AVG(speed) > 400

Задание 6.3
0/1 point (graded)
Напишите запрос, который выведет столбцы с основным типом покемона и общим количеством покемонов этого типа.

Учитывайте только тех покемонов, у которых или показатель атаки, или показатель защиты принимает значение между 50 и 100 включительно.

Оставьте только те типы покемонов, у которых максимальный показатель здоровья не больше 125.

Выведите только тот тип, который находится на пятом месте по количеству покемонов.

SELECT
    type1, 
    COUNT(*)
FROM sql.pokemon
WHERE attack BETWEEN 50 AND 100 OR defense BETWEEN 50 AND 100
GROUP BY type1
HAVING MAX(hp) <= 125
ORDER BY COUNT(*) DESC
LIMIT 1 OFFSET 4

И в довершение итогов напомним структуру запроса, который мы можем составить с учётом новых знаний:

SELECT
    столбец1 AS новое_название,
    столбец2,
    АГРЕГАТ(столбец3)
FROM таблица
WHERE (условие1 OR условие2)
    AND условие3
GROUP BY столбец1, столбец2
HAVING АГРЕГАТ(столбец3) > 5
ORDER BY сортировка1, сортировка2
OFFSET 1 LIMIT 2

Напишите запрос, который выведет сезон (season), общее количество забитых мячей домашними (total_home_goals) и гостевыми (total_away_goals) командами.
Отсортируйте по столбцу с сезоном в порядке возрастания.

SELECT
   season, 
   SUM(home_team_goals) total_home_goals, 
   SUM(away_team_goals) total_away_goals
FROM sql.matches 
GROUP BY 1
ORDER BY 1

Задание 2.2
1/1 point (graded)
Напишите запрос, который выведет таблицу с результатами матчей, содержащую:

названия гостевых команд (long_name);
количество забитых мячей домашней команды (home_team_goals);
количество забитых мячей гостевой команды (away_team_goals).

SELECT 
    long_name, 
    home_team_goals,
    away_team_goals
FROM
    sql.teams,
    sql.matches
WHERE away_team_api_id  = api_id

СИНТАКСИС

Оператор JOIN упрощает процесс соединения таблиц.

Его синтаксис можно представить следующим образом:

SELECT
        столбец1,
	столбец2,
	...
FROM
	таблица1
JOIN таблица2 ON условие

Порядок присоединения таблиц в данном случае не важен — результат будет одинаковым.

С помощью JOIN можно соединить и более двух таблиц.

SELECT
        столбец1,
	столбец2,
	...
FROM
	таблица1
JOIN таблица2 ON условие
JOIN таблица3 ON условие
В таблицах, которые мы соединяем, могут быть одинаковые названия столбцов.

→ К примеру, столбец id есть и в таблице matches, и в таблице teams. Такой запрос не будет обработан.

Задание 3.2
0/1 point (graded)
Напишите запрос, который выведет два столбца: id матча (match_id) и id домашней команды (team_id), — а затем отсортируйте по id матча в порядке возрастания значений.

SELECT
    m.id match_id,
    t.id team_id
FROM
    sql.matches m
    join sql.teams t on t.api_id = m.home_team_api_id
ORDER BY 1

Напишите запрос, который выведет столбцы: id матча, короткое название домашней команды (home_short), короткое название гостевой команды (away_short).
Отсортируйте запрос по возрастанию id матча.

SELECT 
    m.id,
    t.short_name home_short,
    t1.short_name away_short
FROM sql.matches m
JOIN sql.teams t on t.api_id = m.home_team_api_id
JOIN sql.teams t1 on t1.api_id = m.away_team_api_id 
ORDER BY 1

Напишите запрос, который выводит столбцы «Название фильма» (movie_title), «Режиссёр» (director), «Сценарист» (screenwriter), «Актёры» (actors). Оставьте только те фильмы, у которых:

рейтинг между 8 и 8.5 (включительно) ИЛИ год выхода в прокат до 1990;
есть описание;
название начинается не с буквы 'Т';
название состоит ровно из 12 символов.
Оставьте только ТОП-7 по рейтингу.

SELECT
    movie_title "Название фильма",
    director "Режиссёр",
    screenwriter "Сценарист",
    actors "Актёры"
FROM sql.kinopoisk
WHERE (rating BETWEEN 8 AND 8.5 OR year < 1990)
    AND overview IS NOT NULL
    AND movie_title NOT LIKE 'Т%'
    AND movie_title LIKE '____________'
ORDER BY rating DESC
LIMIT 7

И в довершение итогов напомним структуру запроса, который мы можем составить с учётом новых знаний:

SELECT
    столбец1 AS новое_название,
    столбец2,
    АГРЕГАТ(столбец3)
FROM таблица
WHERE (условие1 OR условие2)
    AND условие3
GROUP BY столбец1, столбец2
HAVING АГРЕГАТ(столбец3) > 5
ORDER BY сортировка1, сортировка2
OFFSET 1 LIMIT 2

Напишите запрос, который выведет полное название команды (long_name), количество голов домашней команды (home_goal) и количество голов гостевой команды (away_goal) в матчах, где домашней командой были команды с коротким названием ‘GEN’.
Отсортируйте запрос по id матча в порядке возрастания.

SELECT
	t.long_name long_name,
	m.home_team_goals home_goal,
	m.away_team_goals away_goal
FROM	
	sql.matches m
JOIN sql.teams t ON t.api_id = m.home_team_api_id
WHERE
	t.short_name = 'GEN'
ORDER BY m.id

Напишите запрос, чтобы вывести id матчей, короткое название домашней команды (home_short), короткое название гостевой команды (away_short) для матчей сезона 2011/2012, в которых участвовала команда с названием Liverpool.
Отсортируйте по id матча в порядке возрастания.

SELECT
    m.id,
    t.short_name home_short,
    t1.short_name away_short
FROM
    sql.matches m
JOIN sql.teams t ON m.home_team_api_id = t.api_id
JOIN sql.teams t1 ON m.away_team_api_id = t1.api_id
WHERE
    m.season = '2011/2012'
    and (t.long_name = 'Liverpool' or t1.long_name = 'Liverpool')
ORDER BY m.id

Поставим задачу — вывести таблицу с суммарным количеством забитых голов в матчах по командам и сезонам для команд, в которых суммарное количество голов в матчах сезона больше 100.
Затем добавим таблицу с командами, группировку по командам и условие фильтрации.
SELECT
    m.season,
    t.long_name,
    SUM(m.home_team_goals) + SUM(m.away_team_goals) total_goals
FROM sql.matches m
JOIN sql.teams t ON t.api_id = m.home_team_api_id OR t.api_id = m.away_team_api_id
GROUP BY m.season, t.id
HAVING SUM(m.home_team_goals) + SUM(m.away_team_goals) > 100

Напишите запрос, с помощью которого можно вывести список полных названий команд, сыгравших в гостях 150 и более матчей.
Отсортируйте список по названию команды.
SELECT
    t.long_name
FROM
    sql.matches m
JOIN sql.teams t ON m.away_team_api_id = t.api_id
GROUP BY t.id
HAVING COUNT(*) >= 150
ORDER BY 1

 Поставим следующую задачу: вывести полные названия команд, данных по которым нет в таблице matches.

 SELECT
    t.long_name
FROM 
    sql.teams t
LEFT JOIN sql.matches m ON t.api_id = m.home_team_api_id OR t.api_id = m.away_team_api_id
WHERE m.id IS NULL

Используя LEFT JOIN, выведите список уникальных названий команд, содержащихся в таблице matches. Отсортируйте список в алфавитном порядке.
В поле ниже введите запрос, с помощью которого вы решили задание.

SELECT
    distinct t.long_name
FROM 
    sql.teams t
LEFT JOIN sql.matches m ON t.api_id = m.home_team_api_id OR t.api_id = m.away_team_api_id
WHERE m.id is not null
ORDER BY  t.long_name