In [2]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [2]:
display(melb_data.head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

In [3]:
melb_data.tail(7)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
13573,13573,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26/08/2017,14.7,...,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0,"-37.89327, 144.64789"
13574,13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,...,2.0,256.0,126.0,1970.0,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0,"-37.67917, 144.8939"
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

In [4]:
melb_data.shape

(13580, 23)

In [5]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

In [6]:
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [7]:
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [13]:
melb_data['Distance'].describe()

count    13580.000000
mean        10.137776
std          5.868725
min          0.000000
25%          6.100000
50%          9.200000
75%         13.000000
max         48.100000
Name: Distance, dtype: float64

In [15]:
melb_data['Type'].value_counts(normalize=True)

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [19]:
melb_data['Propertycount'].max()

21650

In [20]:
landsize_median = melb_data['BuildingArea'].median() 
landsize_mean =  melb_data['BuildingArea'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

0.09764079662364533

In [21]:
print(melb_data['Bedroom'].mode())

0    3
Name: Bedroom, dtype: int64

In [22]:
mask = melb_data['Price'] > 2000000
display(mask)

0        False
1        False
2        False
3        False
4        False
         ...
13575    False
13576    False
13577    False
13578     True
13579    False
Name: Price, Length: 13580, dtype: bool

In [23]:
display(melb_data[mask].head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0,211.0,198.0,1890,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1,153.0,180.0,1880,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1,199.0,107.0,1900,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1,177.0,181.0,1880,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1,237.0,126.0,1970,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280,"-37.8436, 144.9557"

In [24]:
melb_data[melb_data['Price'] > 2000000]

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0,211.0,198.0,1890,Port Phillip,-37.84810,144.94990,Southern Metropolitan,3280,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1,153.0,180.0,1880,Port Phillip,-37.84470,144.95230,Southern Metropolitan,3280,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1,199.0,107.0,1900,Port Phillip,-37.84220,144.95540,Southern Metropolitan,3280,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1,177.0,181.0,1880,Port Phillip,-37.84150,144.95850,Southern Metropolitan,3280,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1,237.0,126.0,1970,Port Phillip,-37.84360,144.95570,Southern Metropolitan,3280,"-37.8436, 144.9557"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13521,13521,Port Melbourne,44 Garton St,4,t,2455000.0,SP,Marshall,26/08/2017,3.5,...,2,123.0,0.0,2010,NaN,-37.83349,144.94840,Southern Metropolitan,8648,"-37.83349, 144.9484"
13523,13523,Prahran,69 Greville St,4,h,2668000.0,S,Biggin,26/08/2017,4.6,...,2,383.0,126.0,1970,NaN,-37.84879,144.98882,Southern Metropolitan,7717,"-37.84879, 144.98882"
13553,13553,Surrey Hills,20 Albert Cr,4,h,2720000.0,S,Kay,26/08/2017,10.2,...,2,1005.0,126.0,1920,NaN,-37.82421,145.10352,Southern Metropolitan,5457,"-37.82421, 145.10352"
13555,13555,Surrey Hills,3 Oak St,4,h,3100000.0,VB,Marshall,26/08/2017,10.2,...,3,832.0,126.0,1970,NaN,-37.83564,145.10919,Southern Metropolitan,5457,"-37.83564, 145.10919"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5,866.0,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299"

In [25]:
melb_data[melb_data['Rooms'] == 3].shape[0]

5881

In [26]:
melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]

3

In [27]:
melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]

68

In [28]:
mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()

126.0

In [30]:
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [32]:
melb_data[(melb_data['BuildingArea'] == 0) & (melb_data['Price'] > 3000000)].shape[0]

1

In [37]:
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

In [39]:
melb_data[((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] < 2015)) & (melb_data['Price'] < 1000000)]['Price'].mean()

673887.5182339151

In [41]:
melb_data[((melb_data['Type'] == 'h') ) & (melb_data['Price'] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

In [43]:
stud_data = pd.read_csv('data/students_performance.csv', sep=',')

In [44]:
display(stud_data)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [46]:
display(stud_data.loc[155])

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               70
reading score                            89
writing score                            88
Name: 155, dtype: object

In [47]:
stud_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [50]:
stud_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [54]:
stud_data[stud_data['math score'] == 0]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10

In [55]:
stud_data[stud_data['lunch'] == 'standard']['math score'].mean()

70.03410852713178

In [59]:
stud_data[stud_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

In [60]:
stud_data[stud_data['parental level of education'] == "bachelor's degree"]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
27,female,group C,bachelor's degree,standard,none,67,69,75
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
77,male,group A,bachelor's degree,standard,completed,80,78,81
...,...,...,...,...,...,...,...,...
916,male,group E,bachelor's degree,standard,completed,100,100,100
933,male,group C,bachelor's degree,free/reduced,completed,70,75,74
969,female,group B,bachelor's degree,standard,none,75,84,80
970,female,group D,bachelor's degree,standard,none,89,100,100
993,female,group D,bachelor's degree,free/reduced,none,62,72,74

In [67]:
stud_data[stud_data['race/ethnicity'] == 'group A']['writing score'].median() - stud_data[stud_data['race/ethnicity'] == 'group C']['writing score'].mean()

-5.827586206896555

In [5]:
display(melb_data['Address'].nunique())

13378

In [7]:
def get_street_type(address):
# Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
# Метод split() разбивает строку на слова по пробелу.
# В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = address.split(' ')
# Обрезаем список, оставляя в нём только последний элемент,
# потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
# Делаем проверку на то, что полученный подтип является географической пометкой.
# Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
# Если переменная street_type является географической пометкой,
# переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
# Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type

In [8]:
street_types = melb_data['Address'].apply(get_street_type)
display(street_types)

0        St
1        St
2        St
3        La
4        St
         ..
13575    Cr
13576    Dr
13577    St
13578    St
13579    St
Name: Address, Length: 13580, dtype: object

In [9]:
popular_stypes =street_types.value_counts().nlargest(10).index

In [10]:
melb_data['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_data['StreetType'])

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

In [11]:

velo_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')

In [12]:
velo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [30]:
velo_data['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [31]:
velo_data['age']=2018 - velo_data['birth year']

In [37]:
velo_data[(velo_data['age'] > 60)]['age'].describe()

count    11837.000000
mean        66.273634
std          7.670990
min         61.000000
25%         62.000000
50%         64.000000
75%         68.000000
max        133.000000
Name: age, dtype: float64

In [38]:
velo_data['trip duration']=velo_data['stoptime']- velo_data['starttime']

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [40]:

velo_data['stoptime'] = pd.to_datetime(velo_data['stoptime'], dayfirst=True)

In [41]:

velo_data['starttime'] = pd.to_datetime(velo_data['starttime'], dayfirst=True)

In [42]:
velo_data['trip duration']=velo_data['stoptime']- velo_data['starttime']

In [43]:
velo_data.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,trip duration
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1,38,0 days 00:27:15.365000
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0,49,0 days 00:02:12.200000
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1,43,0 days 00:55:37.898000
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2,34,0 days 00:07:16.837000
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1,24,0 days 02:20:57.993000

In [46]:
velo_data[(velo_data['starttime'].dt.dayofweek() == 5) | (velo_data['starttime'].dt.dayofweek() == 6)].shape()

TypeError: 'Series' object is not callable

In [47]:
velo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
 14  age                      300000 non-null  int64
 15  trip duration            300000 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(6), int64(4), object(3), timedelta64[ns](1)
memory usage: 36.6+ MB

In [53]:
velo_data["starttime"].values.astype('datetime64[D]')
velo_data["stoptime"].values.astype('datetime64[D]')

array(['2018-09-01', '2018-09-01', '2018-09-01', ..., '2018-09-05',
       '2018-09-05', '2018-09-05'], dtype='datetime64[D]')

In [59]:
velo_data['starttime'].dt.dayofweek.value_counts()

115135

In [61]:
velo_data[(velo_data['starttime'].dt.hour >12) &(velo_data['starttime'].dt.hour <=18)].value_counts()

starttime                stoptime                 start station id  start station name       start station latitude  start station longitude  end station id  end station name            end station latitude  end station longitude  bikeid  usertype    birth year  gender  age  trip duration
2018-09-01 12:00:01.334  2018-09-01 12:21:43.449  3282.0            5 Ave & E 88 St          40.783070               -73.959390               3282.0          5 Ave & E 88 St             40.783070             -73.959390             32220   Customer    1969        0       49   0 days 00:21:42.115000    1
2018-09-04 13:46:38.842  2018-09-04 13:54:46.242  3572.0            34 Ave & 38 St           40.756913               -73.921631               3565.0          36 Ave & 10 St              40.761438             -73.941126             27826   Subscriber  1991        1       27   0 days 00:08:07.400000    1
2018-09-04 13:47:20.464  2018-09-04 13:57:47.392  393.0             E 5 St & Avenue C        40.722992               -73.979955               345.0           W 13 St & 6 Ave             40.736494             -73.997044             26334   Subscriber  1999        1       19   0 days 00:10:26.928000    1
2018-09-04 13:47:20.138  2018-09-04 14:00:34.999  355.0             Bayard St & Baxter St    40.716021               -73.999744               251.0           Mott St & Prince St         40.723180             -73.994800             18457   Customer    1969        0       49   0 days 00:13:14.861000    1
2018-09-04 13:47:18.665  2018-09-04 13:53:24.015  238.0             Bank St & Washington St  40.736197               -74.008592               383.0           Greenwich Ave & Charles St  40.735238             -74.000271             33146   Subscriber  1954        1       64   0 days 00:06:05.350000    1
                                                                                                                                                                                                                                                                                                             ..
2018-09-02 15:29:11.332  2018-09-02 15:39:56.833  254.0             W 11 St & 6 Ave          40.735324               -73.998004               546.0           E 30 St & Park Ave S        40.744449             -73.983035             26694   Subscriber  1976        2       42   0 days 00:10:45.501000    1
2018-09-02 15:29:11.031  2018-09-02 15:52:12.615  426.0             West St & Chambers St    40.717548               -74.013221               259.0           South St & Whitehall St     40.701221             -74.012342             18796   Customer    1969        0       49   0 days 00:23:01.584000    1
2018-09-02 15:29:10.140  2018-09-02 16:13:37.722  2006.0            Central Park S & 6 Ave   40.765909               -73.976342               3136.0          5 Ave & E 63 St             40.766368             -73.971518             29864   Customer    1969        0       49   0 days 00:44:27.582000    1
2018-09-02 15:29:09.821  2018-09-02 15:40:34.271  3526.0            31 St & 23 Ave           40.774788               -73.912555               3597.0          43 St & Broadway            40.757728             -73.916637             29815   Subscriber  1979        1       39   0 days 00:11:24.450000    1
2018-09-05 17:59:59.700  2018-09-05 18:26:57.607  309.0             Murray St & West St      40.714979               -74.013012               359.0           E 47 St & Park Ave          40.755103             -73.974987             25853   Subscriber  1978        1       40   0 days 00:26:57.907000    1
Length: 132997, dtype: int64

In [62]:
velo_data[(velo_data['starttime'].dt.hour >0) &(velo_data['starttime'].dt.hour <=6)].value_counts()

starttime                stoptime                 start station id  start station name        start station latitude  start station longitude  end station id  end station name          end station latitude  end station longitude  bikeid  usertype    birth year  gender  age  trip duration
2018-09-01 01:00:09.849  2018-09-01 01:04:50.242  297.0             E 15 St & 3 Ave           40.734232               -73.986923               537.0           Lexington Ave & E 24 St   40.740259             -73.984092             30822   Subscriber  1985        1       33   0 days 00:04:40.393000    1
2018-09-04 06:51:42.263  2018-09-04 07:06:53.075  446.0             W 24 St & 7 Ave           40.744876               -73.995299               2010.0          Grand St & Greene St      40.721655             -74.002347             28608   Subscriber  1964        1       54   0 days 00:15:10.812000    1
2018-09-04 06:51:43.799  2018-09-04 07:02:52.354  368.0             Carmine St & 6 Ave        40.730386               -74.002150               327.0           Vesey Pl & River Terrace  40.715338             -74.016584             27794   Subscriber  1987        1       31   0 days 00:11:08.555000    1
2018-09-04 06:51:44.713  2018-09-04 06:56:55.943  128.0             MacDougal St & Prince St  40.727103               -74.002971               345.0           W 13 St & 6 Ave           40.736494             -73.997044             32471   Subscriber  1984        1       34   0 days 00:05:11.230000    1
2018-09-04 06:51:45.525  2018-09-04 06:57:50.892  545.0             E 23 St & 1 Ave           40.736502               -73.978095               402.0           Broadway & E 22 St        40.740343             -73.989551             33823   Subscriber  1986        1       32   0 days 00:06:05.367000    1
                                                                                                                                                                                                                                                                                                            ..
2018-09-03 01:56:26.955  2018-09-03 02:14:49.313  495.0             W 47 St & 10 Ave          40.762699               -73.993012               494.0           W 26 St & 8 Ave           40.747348             -73.997236             34336   Subscriber  1973        2       45   0 days 00:18:22.358000    1
2018-09-03 01:56:33.043  2018-09-03 02:02:29.908  3452.0            Bayard St & Leonard St    40.719156               -73.948854               3092.0          Berry St & N 8 St         40.719009             -73.958525             20706   Subscriber  1985        2       33   0 days 00:05:56.865000    1
2018-09-03 01:56:44.092  2018-09-03 02:03:48.131  267.0             Broadway & W 36 St        40.750977               -73.987654               495.0           W 47 St & 10 Ave          40.762699             -73.993012             21647   Subscriber  1993        1       25   0 days 00:07:04.039000    1
2018-09-03 01:57:00.270  2018-09-03 02:38:49.661  3501.0            E 118 St & Madison Ave    40.801487               -73.944251               3490.0          E 116 St & 2 Ave          40.796879             -73.937261             16136   Customer    1969        0       49   0 days 00:41:49.391000    1
2018-09-05 06:59:59.714  2018-09-05 07:17:51.383  504.0             1 Ave & E 16 St           40.732219               -73.981656               493.0           W 45 St & 6 Ave           40.756800             -73.982912             29028   Subscriber  1993        1       25   0 days 00:17:51.669000    1
Length: 11704, dtype: int64

In [63]:
132997/11704

11.36338004101162